/* 통합 폰트 설정 ===================================================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* 통합 백그라운드 패턴 설정 ============================================================================================ */
.background {
    width: 100%;
    height: 100%;
    background: rgb(28, 28, 37) /* 배경 색상 */
    radial-gradient(rgb(40, 40, 48) 20%, transparent 1%); /* 점 패턴 */
    background-size: 13px 13px;
}
/* 이미지 드래그 방지 설정 ============================================================================================== */
img {
    -webkit-user-drag: none; /* Chrome, Safari 용: 이미지가 드래그되지 않도록 설정 */
    -khtml-user-drag: none;  /* Konqueror 브라우저 용 (거의 사용되지 않음) */
    -moz-user-drag: none;    /* Firefox 용: 이미지 드래그 방지 */
    -o-user-drag: none;      /* Opera 용: 이미지 드래그 방지 */
    user-drag: none;         /* 표준 속성: 지원하는 브라우저에서 이미지 드래그 방지 */
}
/* 스크롤을 숨기고 막는 클래스 =========================================================================================== */
.hide-scroll {
    overflow: hidden;
}
/* Footer =========================================================================================================== */
footer {
    position: absolute;
    display: flex;
    width: 1440px;
    height: 30px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0); /* 중앙 기준으로 배치 */
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.2);
    font-size: 10px;
}
.component-title {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 30px;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #888;
    text-align: center;
}
.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
/* Nav ============================================================================================================== */
nav {
    position: absolute;
    display: flex;
    width: 1440px;
    height: 50px;
    top: 820px;
    left: 50%;
    transform: translate(-50%, 0); /* 중앙 기준으로 배치 */
    justify-content: center;
    align-items: center;
    color: white;
}
.tab-container {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 2px;

    border-radius: 15px;

    color: rgb(253, 253, 253);
    background: #1c1c25;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.71),
    -10px -10px 50px rgba(0, 0, 0, 0.71);;
    border: rgb(24, 24, 32) solid 1px;
    transition: all .3s;
}
.tab-container:hover {
    margin-top: 20px;
    z-index: 10;
}
.indicator {
    content: "";
    width: 130px;
    height: 28px;
    background: #1d347c;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 9;
    border: 1px solid rgba(255, 251, 251, 0.04);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12),
    0 3px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12), 0 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tab {
    width: 130px;
    height: 28px;
    position: absolute;
    z-index: 99;
    outline: none;
    opacity: 0;
}
.tab_label {
    width: 130px;
    height: 30px;

    position: relative;
    z-index: 999;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    border: 0;

    font-size: 0.75rem;
    opacity: 0.6;

    cursor: pointer;
}
.tab--1:checked ~ .indicator {
    left: 2px;
}
.tab--2:checked ~ .indicator {
    left: calc(130px + 2px);
}
.tab--3:checked ~ .indicator {
    left: calc(130px * 2 + 2px);
}
.tab--4:checked ~ .indicator {
    left: calc(130px * 3 + 2px);
}
.tab--5:checked ~ .indicator {
    left: calc(130px * 4 + 2px);
}
/* 로그아웃 버튼 디자인 */
.Btn {
    position: absolute;
    top: 13%;
    left: 78%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 38px;
    height: 38px;
    border: solid 1px rgba(9, 9, 12, 0.5);
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.71),
    -4px -4px 70px rgba(0, 0, 0, 0.71);
    background-color: rgb(37, 37, 48);
}
.sign {
    position: absolute;
    left: 3%;
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign svg {
    width: 14px;
}
.sign svg path {
    fill: rgba(211, 211, 211, 0.7);
}
.text {
    position: absolute;
    left: 26%;
    opacity: 0;
    color: rgba(211, 211, 211, 0.7);
    font-size: 1.0em;
    font-weight: 600;
    transition-duration: .3s;
}
.Btn:hover {
    width: 120px;
    border-radius: 15px;
    transition-duration: .3s;
}
.Btn:hover .sign {
    position: absolute;
    left: -10%;
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}
.Btn:active {
    transform: translate(2px ,2px);
}
/* 에니메이션 모음 ==================================================================================================== */
/* 오른쪽에서 중앙으로 밝아지면서 들어오는 에니메이션 1번 */
.first-fade-in-right {
    -webkit-animation: first-fade-in-right 1s ease-in-out both;
    animation: first-fade-in-right 1s ease-in-out both;
}
@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes first-fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
/* 오른쪽에서 중앙으로 밝아지면서 들어오는 에니메이션 2번 */
.second-fade-in-right {
    -webkit-animation: second-fade-in-right-right 1.3s ease-in-out both;
    animation: second-fade-in-right 1.3s ease-in-out both;
}
@-webkit-keyframes second-fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes second-fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
/* 좌측에서 중앙으로 밝아지면서 들어오는 에니메이션 1번 */
.first-fade-in-left {
    -webkit-animation: first-fade-in-left 1s ease-in-out both;
    animation: first-fade-in-left 1s ease-in-out both;
}
@-webkit-keyframes first-fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes first-fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
/* 좌측에서 중앙으로 밝아지면서 들어오는 에니메이션 2번 */
.second-fade-in-left {
    -webkit-animation: second-fade-in-left 1.3s ease-in-out both;
    animation: second-fade-in-left 1.3s ease-in-out both;
}
@-webkit-keyframes second-fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes second-fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
/* 상단에서 중앙으로 밝아지면서 들어오는 에니메이션 */
.fade-in-top {
    -webkit-animation: fade-in-top 1s ease-in-out both;
    animation: fade-in-top 1s ease-in-out both;
}
@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
/* 하단에서 중앙으로 밝아지면서 들어오는 에니메이션 */
.fade-in-bottom {
    -webkit-animation: fade-in-bottom 1s ease-in-out both;
    animation: fade-in-bottom 1s ease-in-out both;
}
@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
/* ================================================================================================================== */
