@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body {
    position: relative;
    width: 1440px; /* 화면 전체 높이를 최소 높이로 지정 */
    height: 1080px; /* 화면 전체 높이를 최소 높이로 지정 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    overflow: hidden;
}
/* Section  ===================================================================== */
section {
    position: absolute;
    display: flex;
    width: 1440px;
    height: 800px;
    top: 420px;
    left: 50%;
    transform: translate(-50%, -50%); /* 화면 중앙 기준 */
    justify-content: center;
    align-items: center;
    /*border: solid white;*/
    color: white;

    --card-bg-color: rgb(28, 28, 37);
    --card-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.71),
    -10px -10px 50px rgba(0, 0, 0, 0.71);
}
/* 게시판 작성 기준 프레임 ===============================================================*/
#community {
    position: absolute;
    top: 23%;
    left: 8.3%;
    display: flex;
    width: 1200px; /* 게시판 너비 */
    height: 600px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#community:hover {
    margin-top: -10px;
}
#community_frame {
    position: absolute;
    top: 3%;
    left: 1.5%;
    display: flex;
    width: 1165px; /* 게시판 너비 */
    height: 565px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;

}
/* 게시판 작성 타이틀 프레임 ============================================================== */
#community_title_frame{
    position: absolute;
    top: 3%;
    left: 2.6%;
    display: flex;
    width: 1200px;
    height: 44px;
    border-radius: 15px;
    transition: all 0.3s;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
}
#community_title_frame:hover{
    box-shadow: 0 0 var(--main-color);
    transform: translate(1px, 1px);
}
/* 게시판 작성 타이틀 프레임 아이콘 */
#community_title_icon{
    position: absolute;
    top: 20%; /* 부모 요소의 세로 중앙 */
    left: 6%; /* 부모 요소의 가로 중앙 */
    width: 27px;
    height: 27px;
    fill: rgba(234, 177, 54, 0.7);
}
/* 게시판 작성 타이틀*/
#community_title{
    position: absolute;
    top: -23%; /* 부모 요소의 세로 중앙 */
    left: 40%; /* 부모 요소의 가로 중앙 */
    font-size: 20px;
    color: rgba(211, 211, 211, 0.54);
}
/* 게시판 리스트가 출력되는 프레임 =========================================================================== */
#community_list_frame {
    position: absolute;
    top: 3%;
    left: 1.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열로 구성 */
    gap: 20px; /* 카드 사이 간격 */
    max-width: 1090px;
    width: 100%;
    height: 490px;
    background: #0f0f14;
    border-radius: 15px;
    overflow: auto;
    scrollbar-gutter: stable; /* 스크롤바가 컨테이너 내부에 고정 */
    padding: 20px; /* 모든 방향에 내부 여백 추가 */
}
/* 세로 스크롤바 숨기기 */
#community_list_frame::-webkit-scrollbar {
    width: 8px; /* 세로 스크롤바 너비를 0으로 설정 */
    height: 0px; /* 가로 스크롤바 높이 설정 */
}

/* 가로 스크롤바 트랙 디자인 */
#community_list_frame::-webkit-scrollbar-track {
    background: #0f0f14; /* 트랙 배경색 */
    border-radius: 10px; /* 트랙의 모서리를 둥글게 */
}

/* 가로 스크롤바 핸들 디자인 */
#community_list_frame::-webkit-scrollbar-thumb {
    background: #2744a5; /* 스크롤바 핸들 색상 */
    border-radius: 10px; /* 핸들의 모서리를 둥글게 */
}

/* 가로 스크롤바 핸들 호버 효과 */
#community_list_frame::-webkit-scrollbar-thumb:hover {
    background: #4c8bf5; /* 호버 시 색상 변경 */
}
/* 게시판 카드 공통 스타일 */
#community_frame .card {
    background-color: rgb(26, 26, 35);
    border-radius: 15px; /* 둥근 모서리 */
    overflow: hidden;
    height: 310px;
    max-height: 310px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: black;
    transition: all 0.3s;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.71),
    -10px -10px 50px rgba(0, 0, 0, 0.71);
}

#community_frame .card:hover {
    box-shadow: 0 0 var(--main-color);
    transform: translate(1px, 1px);
    border: solid 1px black;
}

#community_frame .img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    border: solid 1px black;
}
#community_frame .noticeboard {
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 5px;
    color: lightgrey;
}
/* 게시글 프레임의 제목*/
#community_frame .title {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
}
/* 게시글 프레임의 언어 */
#community_frame .language {
    font-size: 1.0em;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
}
/* 게시글 프레임의 아이디 */
#community_frame .id {
    display: none;
}

/* 작성자 이름 스타일 */
#community_frame .name {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.6);
}
/* 검색 프레임 =========================================================================== */
#search {
    position: absolute;
    top: 2.8%;
    left: 8.3%;
    display: flex;
    width: 1200px; /* 게시판 너비 */
    height: 145px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#search:hover {
    margin-top: -10px;
}
#search_frame{
    position: absolute;
    top: 10%;
    left: 1.5%;
    display: flex;
    width: 1165px; /* 게시판 너비 */
    height: 110px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#write_search{
    position: absolute;
    top: 7%;
    left: 1%;
    width: 900px;
    height: 45px;
    text-align: center;
    font-size: 16px;
    color: lightgrey;
    background-color: #0f0f14;
    border-radius: 15px;
    border: 1px solid black;
    letter-spacing: 3px; /* 문자 간격 */
}
#write_search:active{
    border: 1px solid black;
}
#write_search_icon{
    position: absolute;
    top: 18%;
    left: 75.5%;
    fill: #1a2e6d;
    width: 20px;
    height: 20px;
}
/* 게시판 카테고리 라디오 버튼 디자인 ===========================================*/
#question_type {
    position: absolute;
    top: 58%;
    left: 1%;
    width: 905px;
    height: 35px;
    text-align: center;
    background-color: #0f0f14;
    border-radius: 12px;
    border: 1px solid black;
}
.radio-button-container {
    position: absolute;
    top: 25%;
    left: 6%;
    display: flex;
    align-items: center;
    gap: 70px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 18px;
    color: rgba(211, 211, 211, 0.7);
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.radio-button__custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s ease;
}
.radio-button__input:checked + .radio-button__label .radio-button__custom {
    background-color: #4c8bf5;
    border-color: transparent;
    transform: scale(0.8);
    box-shadow: 0 0 20px #4c8bf580;
}
.radio-button__input:checked + .radio-button__label {
    color: #4c8bf5;
}
.radio-button__label:hover .radio-button__custom {
    transform: scale(1.2);
    border-color: #4c8bf5;
    box-shadow: 0 0 20px #4c8bf580;
}
/* 언어 카테고리 프레임 = ================================================*/
#language{
    position: absolute;
    top: 7%;
    left: 79.5%;
    width: 228px;
    height: 48.5px;
    text-align: center;
    font-size: 16px;
    color: lightgrey;
    background-color: #0f0f14;
    border-radius: 15px;
    border: 1px solid black;
    letter-spacing: 3px; /* 문자 간격 */
}
/* 검색 버튼 디자인 =================================================================== */
#submit{
    position: absolute;
    top: 58%;
    left: 79.5%;
    width: 228px;
    height: 35px;
    border-radius: 13px;
    border: solid 1px #0f0f14;
    transition: all 0.3s;
    cursor: pointer;
    background: #16161c;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
}
#submit:hover{
    box-shadow: 0 0 var(--main-color);
    transform: translate(1px, 1px);
}
#submit:active{
    box-shadow: -4px -4px var(--main-color);
    transform: translate(1px, 1px);
}
#submit:hover #submit_text{
    color: #25409c;

}
#submit_text{
    position: absolute;
    top: 18%;
    left: 40.5%;
    font-size: 20px;
    color: rgba(211, 211, 211, 0.54);
}
/*좌우 디스플레이 프레임===============================================================*/
#left_display_frame{
    position: absolute;
    top: 2.8%;
    left: 1%;
    display: flex;
    width: 89px; /* 게시판 너비 */
    height: 760px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#left_display_frame:hover {
    margin-top: -10px;
}
#right_display_frame{
    position: absolute;
    top: 2.8%;
    left: 92.8%;
    display: flex;
    width: 89px; /* 게시판 너비 */
    height: 760px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#right_display_frame:hover {
    margin-top: -10px;
}
.display-frame{
    position: absolute;
    top: 1%;
    left: 10%;
    display: flex;
    width: 72px; /* 게시판 너비 */
    height: 743px; /* 게시판 높이 */
    border-radius: 10px;
    background: #0f0f14;
    transition: all .3s;
    align-items: center;
}
.display-frame img{
    position: absolute;
    top: 1%;
    left: 10%;
    display: flex;
    width: 56px; /* 게시판 너비 */
    height: 725px; /* 게시판 높이 */
    border-radius: 10px;
    border: solid 1px #0f0f14;
}

/*글 작성하기 버튼 =====================================================================*/
.continue-application {
    top: 85%;
    left: 82%;
    --color: lightgray;
    --background: rgba(29, 52, 123, 0.7);
    --background-hover: #2B3044;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
}

.continue-application > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
    z-index: 999;
}

.continue-application > div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
}

.continue-application > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application > div .folder:before, .continue-application > div .folder:after,
.continue-application > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
}

.continue-application > div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder:after,
.continue-application > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
}

.continue-application > div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
}

.continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
}

.continue-application > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .pencil:before, .continue-application > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
}

.continue-application > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
}

.continue-application:before, .continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
}

.continue-application:after {
    --r: 45deg;
}

.continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
}
/* 포스트 세부 내용 확인하기 =================================================================================== */
#post_detail_frame{
    position: absolute;
    top: 3%;
    left: 1.5%;
    display: none;
    width: 1130px; /* 게시판 너비 */
    height: 527px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
    z-index: 9999;
}
#post_detail_title_frame{
    position: absolute;
    top: 2%;
    left: 1%;
    width: 900px;
    height: 45px;
    text-align: center;
    font-size: 16px;
    color: lightgrey;
    background-color: #0f0f14;
    border-radius: 15px;
    border: 1px solid black;
    letter-spacing: 3px; /* 문자 간격 */
    overflow: hidden;
}
#post_detail_title{
    position: absolute;
    top: 28%;
    left: 1%;
    font-size: 20px;
    text-align: left;
}
#post_detail_text_frame{
    position: absolute;
    top: 11%;
    width: 1109px;
    height: 400px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    color: lightgrey;
    background-color: #0f0f14;
    border-radius: 15px;
    border: 1px solid black;
    letter-spacing: 3px; /* 문자 간격 */
}
#post_detail_text{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 1108px;
    height: 400px;
    font-size: 23px;
    text-align: left;
    border: lightgrey;
    overflow-y: auto; /* 세로 스크롤 */
    overflow-x: hidden; /* 가로 스크롤 숨김 */
    word-wrap: break-word; /* 긴 단어를 줄바꿈 */
    white-space: normal
}
#post_detail_language_frame{
    position: absolute;
    top: 90%;
    width: 545px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    color: lightgrey;
    background-color: #0f0f14;
    border-radius: 15px;
    border: 1px solid black;
    letter-spacing: 3px; /* 문자 간격 */
}
#post_detail_language{
    position: absolute;
    top: 10%;
    left: 4%;
    font-size: 20px;
    text-align: left;
}
#post_detail_noticeboard_frame{
    position: absolute;
    left: 50%;
    top: 90%;
    width: 545px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    color: lightgrey;
    background-color: #0f0f14;
    border-radius: 15px;
    border: 1px solid black;
    letter-spacing: 3px; /* 문자 간격 */
}
#post_detail_noticeboard{
    position: absolute;
    top: 10%;
    left: 4%;
    font-size: 18px;
    text-align: center;
}
/*exit 버튼 디자인 ==================================================*/
#exit{
    position: absolute;
    top: 2%;
    left: 82%;
    width: 194px;
    height: 45px;
    border-radius: 13px;
    border: solid 1px #0f0f14;
    transition: all 0.3s;
    cursor: pointer;
    background: #16161c;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
}
#exit:hover{
    box-shadow: 0 0 var(--main-color);
    transform: translate(1px, 1px);
}
#exit:active{
    box-shadow: -4px -4px var(--main-color);
    transform: translate(1px, 1px);
}
#exit:hover #exit_text{
    color: #25409c;
}
#exit_text{
    position: absolute;
    top: 18%;
    left: 36%;
    font-size: 20px;
    color: rgba(211, 211, 211, 0.54);
}