/* 전체 화면을 기준으로 배치 ============================================================================================ */
body {
    position: relative;
    width: 1440px; /* 화면 전체 높이를 최소 높이로 지정 */
    height: 1080px; /* 화면 전체 높이를 최소 높이로 지정 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    overflow: hidden;
}
/* Section  ========================================================================================================= */
section {
    position: absolute;
    display: flex;
    width: 1440px;
    height: 800px;
    top: 420px;
    left: 50%;
    transform: translate(-50%, -50%); /* 화면 중앙 기준 */
    justify-content: center;
    align-items: center;
    /*border: solid white;*/
    color: white;

    --card-bg-color: rgb(28, 28, 37);
    --card-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.71),
    -10px -10px 50px rgba(0, 0, 0, 0.71);
    /*--card-bg-color: lightgrey;*/
    /*--card-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;*/
}
/* 탑 자격증 프레임 ==================================================================================================== */
#certificate_frame_title {
    position: absolute;
    top: 2%;
    left: 8%;
    display: flex;
    width: 600px; /* 게시판 너비 */
    height: 55px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#certificate_frame_title:hover {
    margin-top: -10px;
}
#certificate_frame_text_title {
    position: absolute;
    top: 10%;
    left: 2%;
    display: flex;
    width: 575px; /* 게시판 너비 */
    height: 43px; /* 게시판 높이 */
    border-radius: 10px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#certificate_title{
    position: absolute;
    left: 37%;
    font-size: 25px;;
    color: rgba(211, 211, 211, 0.8);
}
#top_certificate_frame {
    position: absolute;
    top: 10%;
    left: 8%;
    display: flex;
    width: 600px; /* 게시판 너비 */
    height: 700px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#top_certificate_frame:hover {
    margin-top: -10px;
}
#certificate_frame {
    position: absolute;
    top: 3%;
    left: 3%;
    display: flex;
    width: 565px; /* 게시판 너비 */
    height: 600px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#certificate_top_list_frame {
    position: absolute;
    top: 3%;
    left: 3%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; /* 카드 사이 간격 */
    max-width: 493px;
    width: 100%;
    height: 525px;
    background: #0f0f14;
    border-radius: 15px;
    overflow: auto;
    scrollbar-gutter: stable; /* 스크롤바가 컨테이너 내부에 고정 */
    padding: 20px; /* 모든 방향에 내부 여백 추가 */
}
#certificate_top_list_frame::-webkit-scrollbar {
    width: 8px; /* 세로 스크롤바 너비를 0으로 설정 */
    height: 0px; /* 가로 스크롤바 높이 설정 */
}
#certificate_top_list_frame::-webkit-scrollbar-track {
    background: #0f0f14; /* 트랙 배경색 */
    border-radius: 10px; /* 트랙의 모서리를 둥글게 */
}
#certificate_top_list_frame::-webkit-scrollbar-thumb {
    background: #2744a5; /* 스크롤바 핸들 색상 */
    border-radius: 10px; /* 핸들의 모서리를 둥글게 */
}
#certificate_top_list_frame::-webkit-scrollbar-thumb:hover {
    background: #4c8bf5; /* 호버 시 색상 변경 */
}
#certificate_top_list_frame .card {
    background-color: rgb(26, 26, 35);
    border-radius: 15px; /* 둥근 모서리 */
    overflow: hidden;
    height: 65px;
    max-height: 65px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: black;
    transition: all 0.3s;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.71),
    -10px -10px 50px rgba(0, 0, 0, 0.71);
}
#certificate_top_list_frame .card:hover {
    box-shadow: 0 0 var(--main-color);
    transform: translate(1px, 1px);
    border: solid 1px black;
}
#certificate_top_list_frame .img {
    width: 100%;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    border: solid 1px black;
}
#certificate_top_list_frame .title {
    font-size: 1.0em;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
#certificate_top_list_frame .id {
    display: none;
}
/* 탑 공모전 프레임 ==================================================================================================== */
#competitions_frame_title {
    position: absolute;
    top: 2%;
    left: 50.3%;
    display: flex;
    width: 600px; /* 게시판 너비 */
    height: 55px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#competitions_frame_title:hover {
    margin-top: -10px;
}
#competitions_frame_text_title {
    position: absolute;
    top: 10%;
    left: 2%;
    display: flex;
    width: 575px; /* 게시판 너비 */
    height: 43px; /* 게시판 높이 */
    border-radius: 10px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#competitions_title{
    position: absolute;
    left: 29%;
    font-size: 25px;
    color: rgba(211, 211, 211, 0.8);
}
#top_competitions_frame {
    position: absolute;
    top: 10%;
    left: 50.3%;
    display: flex;
    width: 600px; /* 게시판 너비 */
    height: 700px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#top_competitions_frame:hover {
    margin-top: -10px;
}
#competitions_frame {
    position: absolute;
    top: 3%;
    left: 3%;
    display: flex;
    width: 565px; /* 게시판 너비 */
    height: 600px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#competitions_top_list_frame {
    position: absolute;
    top: 3%;
    left: 3%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; /* 카드 사이 간격 */
    max-width: 493px;
    width: 100%;
    height: 525px;
    background: #0f0f14;
    border-radius: 15px;
    overflow: auto;
    scrollbar-gutter: stable; /* 스크롤바가 컨테이너 내부에 고정 */
    padding: 20px; /* 모든 방향에 내부 여백 추가 */
}
#competitions_top_list_frame::-webkit-scrollbar {
    width: 8px; /* 세로 스크롤바 너비를 0으로 설정 */
    height: 0px; /* 가로 스크롤바 높이 설정 */
}
#competitions_top_list_frame::-webkit-scrollbar-track {
    background: #0f0f14; /* 트랙 배경색 */
    border-radius: 10px; /* 트랙의 모서리를 둥글게 */
}
#competitions_top_list_frame::-webkit-scrollbar-thumb {
    background: #2744a5; /* 스크롤바 핸들 색상 */
    border-radius: 10px; /* 핸들의 모서리를 둥글게 */
}
#competitions_top_list_frame::-webkit-scrollbar-thumb:hover {
    background: #4c8bf5; /* 호버 시 색상 변경 */
}
#competitions_top_list_frame .card {
    background-color: rgb(26, 26, 35);
    border-radius: 15px; /* 둥근 모서리 */
    overflow: hidden;
    height: 65px;
    max-height: 65px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: black;
    transition: all 0.3s;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.71),
    -10px -10px 50px rgba(0, 0, 0, 0.71);
}
#competitions_top_list_frame .card:hover {
    box-shadow: 0 0 var(--main-color);
    transform: translate(1px, 1px);
    border: solid 1px black;
}
#competitions_top_list_frame .img {
    width: 100%;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    border: solid 1px black;
}
#competitions_top_list_frame .title {
    font-size: 1.0em;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
#competitions_top_list_frame .id {
    display: none;
}
/* 버튼 디자인 ======================================================================================================== */
.button_frame{
    position: absolute;
    top: 90%;
    left: 3%;
    display: flex;
    width: 565px; /* 게시판 너비 */
    height: 50px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#certificate_button{
    position: absolute;
    top: 16%;
    left: 58%;
    width: 228px;
    height: 35px;
    border-radius: 13px;
    border: solid 1px #0f0f14;
    transition: all 0.3s;
    cursor: pointer;
    background: #16161c;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
}
#certificate_button:hover{
    box-shadow: 0 0 var(--main-color);
    transform: translate(1px, 1px);
}
#certificate_button:active{
    box-shadow: -4px -4px var(--main-color);
    transform: translate(1px, 1px);
}
#certificate_button:hover #certificate_button_text{
    color: #25409c;

}
#certificate_button_text{
    position: absolute;
    top: 18%;
    left: 31.3%;
    font-size: 20px;
    color: rgba(211, 211, 211, 0.54);
}
#competitions_button{
    position: absolute;
    top: 16%;
    left: 58%;
    width: 228px;
    height: 35px;
    border-radius: 13px;
    border: solid 1px #0f0f14;
    transition: all 0.3s;
    cursor: pointer;
    background: #16161c;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
}
#competitions_button:hover{
    box-shadow: 0 0 var(--main-color);
    transform: translate(1px, 1px);
}
#competitions_button:active{
    box-shadow: -4px -4px var(--main-color);
    transform: translate(1px, 1px);
}
#competitions_button:hover #competitions_button_text{
    color: #25409c;

}
#competitions_button_text{
    position: absolute;
    top: 18%;
    left: 31.3%;
    font-size: 20px;
    color: rgba(211, 211, 211, 0.54);
}
/*좌우 디스플레이 프레임================================================================================================= */
#left_display_frame{
    position: absolute;
    top: 2.8%;
    left: 1%;
    display: flex;
    width: 89px; /* 게시판 너비 */
    height: 760px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#left_display_frame:hover {
    margin-top: -10px;
}
#right_display_frame{
    position: absolute;
    top: 2.8%;
    left: 92.8%;
    display: flex;
    width: 89px; /* 게시판 너비 */
    height: 760px; /* 게시판 높이 */
    border-radius: 15px;
    background: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
    align-items: center;
}
#right_display_frame:hover {
    margin-top: -10px;
}
.display-frame{
    position: absolute;
    top: 1%;
    left: 10%;
    display: flex;
    width: 72px; /* 게시판 너비 */
    height: 743px; /* 게시판 높이 */
    border-radius: 10px;
    background: #0f0f14;
    transition: all .3s;
    align-items: center;
}
.display-frame img{
    position: absolute;
    top: 1%;
    left: 10%;
    display: flex;
    width: 56px; /* 게시판 너비 */
    height: 725px; /* 게시판 높이 */
    border-radius: 10px;
    border: solid 1px #0f0f14;
}